<link rel="stylesheet" href="/styles/header.css" type="text/css" />
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700;800&family=Qwigley&family=Zilla+Slab+Highlight:wght@400;700&display=swap" rel="stylesheet">

<nav>
  <div class="left">
    <a href="/user/tasks"><span class="drop">DROP<span class="task"> TASK;</span></span></a>
    </div>
    <div class="right">
      <div class="page-links">
        <a href="/user/1">MY ACCOUNT</a>
        <a href="/user/completed">COMPLETED TASKS</a>
        <form method="POST" action="/logout">
          <button type="submit">Logout</button>
        </form>
      </div>
      <div class="username">
        <span>Hello Divya</span>
      </div>
    </div>

</nav>
