<link rel="stylesheet" href="/styles/header.css" type="text/css" />
<link href="https://fonts.googleapis.com/css2?family=Bangers&family=Cinzel+Decorative:wght@400;700;900&family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&family=Zilla+Slab+Highlight:wght@400;700&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Great+Vibes&family=Open+Sans:wght@300;400;700&family=Qwigley&display=swap" rel="stylesheet">

<nav>
  <div class="left">
    <a href="/user/tasks"><span class="drop">DROP<span class="task"> TASK;</span></span></a>
    </div>
    <div class="right">
      <div class="page-links">
        <a href="/user/1">MY ACCOUNT</a>
        <a href="/user/completed">COMPLETED TASKS</a>
        <form action="/logout" method="GET">
          <button>LOGOUT</button>
        </form>
      </div>
      <div class="username">
        <span>Hello Divya</span>
      </div>
    </div>

</nav>
