<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <body>
    <h1>Hello World!</h1>
    <h2>Add a Task</h2>
    <form action='/new_tasks' method="POST" class="new-task">
      <textarea name="text" id="task-text" placeholder="What do you need to do?"></textarea>
      <div>
        <button type="submit">Add</button>
        <!-- <output name="counter" class="counter" for="tweet-text">140</output> -->
      </div>
  </body>
</html>
