<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <!-- <link rel="stylesheet" href="/styles/index.css" type="text/css" /> -->
    <link rel="stylesheet" href="/styles/register.css" type="text/css" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Bangers&family=Cinzel+Decorative:wght@400;700;900&family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&family=Zilla+Slab+Highlight:wght@400;700&display=swap" rel="stylesheet">
    <script src="https://use.fontawesome.com/releases/v5.15.3/js/all.js" data-auto-a11y="true"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&family=Rubik:wght@400;700&display=swap" rel="stylesheet">
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <body>
    <article class="welcome">
      <h1>Welcome to</h1>
      <span class= "drop">DROP<span class= "task"> TASK;</span></span>
      <br>
      <p>Register below to start organizing your tasks with the help of DROPTASK;</p>
      <div class='task_info'>
        <input name="Name" type="username" placeholder="name...">
        <input name="Email" type="email" placeholder="example@example.com">
        <input name="Password" type="password" placeholder="Password">
      </div>
      <button type="submit">Register</button>
    </article>
  </body>
</html>
