nav {
  // border: solid 3px red;
  // font-family: 'Zilla Slab Highlight', cursive;
  // font-weight: 700;
  width: 100%;
  position: fixed;
  top: 0;
  padding: 1.5rem;
  height: 120px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  opacity: 90%;
}


// nav > span.date {
//   // border: solid 3px red;
//   display: flex;
//   flex-direction: row;
//   justify-content: center;
//   align-items: center;
// }

// div.datenum {
//   display: flex;
//   font-size: large;
// }

div.left > a {
  color: black;
  text-decoration: none;
}

nav > .left > a > span.drop {
  font-family: 'Zilla Slab Highlight', cursive;
  font-weight: 700;
  font-size: 50px;
  opacity: 1;
}

span.drop > span.task {
  font-family: 'Zilla Slab Highlight', cursive;
  font-weight: 400;
  font-size: 50px;
}

// .left button {
//   display: flex;
//   margin-left: 15px;
//   margin-right: 10px;
//   padding-left: 0px;
//   padding-right: 0px;

// }

// .left {
//   display: flex;
//   flex-direction: row;
//   align-items: center;
// }

div.left {
  // border: solid 1px blue;
  display: flex;
  flex-basis: 50%;
}

div.right {
  // border: solid 1px blue;
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-end;
  justify-content: center;
  flex-basis: 50%;
}

div.page-links {
  // border: solid 1px blue;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  text-decoration: none;
  color: black;
  margin-top: 0.5rem;
  // padding-left: 1rem;
  // padding-right: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: baseline;

}

a {
  padding-right: 1rem;
}

a:hover {
  color: red;

}

div.username > span {
  font-family: 'Qwigley', cursive;
  font-size: 350%;
}

form > button {
  background-color: rgb(152, 194, 152);
  color: white;
  margin-bottom: 0.5rem;
  margin-right: 1rem;
  border-radius: 5px;
  border: solid 1px  rgb(152, 194, 152);
}
