// nav alignment and styling
nav {
  width: 100%;
  position: fixed;
  top: 0;
  padding: 1.5rem;
  height: 120px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  opacity: 90%;
}

div.left > a {
  color: black;
  text-decoration: none;
}

// logo styling
nav > .left > a > span.drop {
  font-family: 'Zilla Slab Highlight', cursive;
  font-weight: 700;
  font-size: 50px;
  opacity: 1;
}

// logo styling

span.drop > span.task {
  font-family: 'Zilla Slab Highlight', cursive;
  font-weight: 400;
  font-size: 50px;
}

// creates 1 of 2 inline columns
div.left {
  display: flex;
  flex-basis: 50%;
}

// creates 1 of 2 inline columns
div.right {
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-end;
  justify-content: center;
  flex-basis: 50%;
  padding-right: .75rem;
}

// font styling for page links
div.page-links {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  margin-top: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.page-links > a {
  text-decoration: none;
  color: black;
  padding-right: 1rem;
}

// link on hover effect
.page-links > a:hover {
  color: rgb(127, 163, 127);
  border-top: none;
  border-right: none;
  border-left: none;
  text-decoration: underline;

}

// username styling
div.username > span {
  font-family: 'Qwigley', cursive;
  font-size: 350%;
}

// button styling
form > button {
  background-color: rgb(127, 163, 127);
  color: white;
  margin-bottom: 0.5rem;
  margin-right: 0.5rem;
  border-radius: 5px;
  border: solid 1px  rgb(127, 163, 127);
  opacity: 1;
}
