// See: https://sass-lang.com/

body {
  font-family: 'Old Standard TT', serif;
  margin-top: 140px;
  background-color: white;
  background-image: url("https://www.transparenttextures.com/patterns/hoffman.png");

  h1 {
    color: #244751;
  }
}
