
// outter box element
article.welcome {
  background-color: white;
  border-radius: 2px;
  margin-left: 20rem;
  margin-right: 20rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 85%;

}

// logo styling
article.welcome > span.drop {
  font-family: 'Zilla Slab Highlight', cursive;
  font-weight: 700;
  font-size: 50px;
  opacity: 1;
}

// logo styling
span.drop > span.task {
  font-family: 'Zilla Slab Highlight', cursive;
  font-weight: 400;
  font-size: 50px;
}

// below is all inner box/element styling
article.welcome > p {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.task_info > input {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 10px;
}

article > form > button {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 18px;
  display: flex;
  flex-basis: 10%;
  border: solid 1px grey;
  background-color: rgb(127, 163, 127);
  color: white;
  border-radius: 5px;
  border: solid 1px  rgb(127, 163, 127);
}
