//contains both pic and box with all the forms & buttons
section {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-right: 8rem;
  margin-left: 8rem;
}

//image container
.col1 {
  display: flex;
  flex-direction: column;
  width: 35%;
  margin: 40px;
  justify-content: center;
  align-items: center;
  background:transparent;
}

//contains all text field and buttons
.col2 {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  width: 60%;
  margin: 40px;
  padding-right: 15px;
  padding-top: 15px;
  padding-left: 15px;
  // background-color: rgb(152, 194, 152);
  background-color: white;
  opacity: 90%;
}

//description textarea for task-description page
.col2 > form > .task_info > textarea {
  display: flex;
  resize: none;
  margin-top: .3rem;
  margin-bottom: 15px;
  width: 100%;
  padding: 8px;
  height: 150px;
}
//description input for profile page
.col2 > form > .task_info > input {
  display: flex;
  resize: none;
  margin-top: .3rem;
  margin-bottom: 15px;
  width: 100%;
  padding: 8px;
}

::placeholder {
  color: black;
  opacity: 1;
}

// .label-input-container {
//   display: flex;
//   justify-content: flex-start;
//   align-items: center;
//   padding-right: 10rem;
//   // flex-basis: 40%;

// }

//dropdown menu
select {
  display: flex;
  flex-direction: row;
  // margin-left: 0.5rem;
  // margin-top: 0.3rem;
  // margin-bottom: 3rem;
  flex-basis: 50%;
}

//contains all 3 buttons
div.container-buttons {
  color: white;
  padding-top: 1rem;
  margin-bottom: 0rem;
  display: flex;
  justify-content: space-between;
  // margin-bottom: 0.5rem;
  // margin-right: 60%;
  opacity: 1;
}
//contains on;y del and comp buttons
.container-buttons > .comp-del-buttons {
  display: flex;
  opacity: 1;
  display: flex;
  justify-content: flex-end;
}

<<<<<<< HEAD
button {
  background-color: rgb(127, 163, 127);
  color: white;
  margin-bottom: 0.5rem;
  margin-right: 0.5rem;
  border-radius: 5px;
  border: solid 1px  rgb(127, 163, 127);
  opacity: 1;
=======
.task_info > textarea {
  display: flex;
  width: 100%;
  height: 100px;
}

.task_info > select {
  display: flex;
  width: 25%;
>>>>>>> c51e6ca5be018eaca4aa7c270f5520f71d9ae6d9
}

.task_info > p {
  font-weight: bold;
}
