
section {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-right: 8rem;
  margin-left: 8rem;
}


.col1 {
  display: flex;
  flex-direction: column;
  // border: 1px solid black;
  width: 35%;
  margin: 40px;
  justify-content: center;
  align-items: center;
  background:transparent;

}


.col2 {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  width: 60%;
  margin: 40px;
  padding: 15px;
  // background-color: rgb(152, 194, 152);
  background-color: white;
  opacity: 80%;
}

section > p {
  display: flex;
  border: 1px solid black;
  height: 50px;
  align-items: center;
  padding: 15px;
  text-decoration: line-through

}

div.buttons {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}
div.buttons > button.submit{
  background-color: rgb(127, 163, 127);
  color: white;
  margin-bottom: 0.5rem;
  margin-right: 60%;
  border-radius: 5px;
  border: solid 1px  rgb(127, 163, 127);
}

.col2 > form > .task_info > input {

  display: flex;
  resize: none;
  margin-bottom: 15px;
  width: 100%;
  padding: 8px;

}

// article {
//   display: flex;
//   margin: 40px;
//   padding-left: 15px;
//   background-color: green;
//   height: 80px;
//   align-items: center;
//   border-radius: 10px;
//   border-left-style: solid;
//   border-left-color: red;
//   border-left-width: 6px;
// }

select {
  display: flex;
  flex-direction: row;
  margin-top: 15px;
  margin-bottom: 15px;
}

::placeholder {
  color: black;
  opacity: 1;
}

.task_info > input {
  display: flex;
  width: 100%;
}

.task_info > select {
  display: flex;
  width: 25%;
}
